* {
  box-sizing: border-box;
}
body {
  background: #eee;
}

a {
  text-decoration: none;
  color: #fff;
}

/* header */

div.header__back {
  background: #293a4e;
  /* padding-bottom: 10px; */
  transition: 0.2s ease-in-out;
}

div.header__back:hover {
  background-color: #2a3f5a;
  padding-bottom: 20px;
}

header {
  width: 65%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

/* logo */
.header__logo {
  width: 80px;
  /* height: 80px; */

  /* border: 3px solid rgba(225, 225, 225, 0.3);
  border-radius: 50%; */
}
.header__logo img {
  width: 80px;
}
/* logo */

/* nav */
nav {
  display: flex;
  position: relative;
  top: 20px;
}

/* 모든 li 공통 요소 */
nav li {
  width: 100px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.main {
  display: flex;
}

ul.main > li {
  color: #fff;
  margin: 8px 0;
  font-size: 17px;
}

ul.main > li:hover {
  color: #e67700;
  transition: 0.2s ease-in-out;
  font-size: 18px;
}

ul.sub li {
  /* background-color: ; */
  text-align: center; /* a tag 가운데 맞춤용 */
  display: none;
  /* background-color: #495057; */

  margin-top: 5px;
  padding: 5px 0;
  font-size: 13px;
}
/* ul.sub li:nth-child(1) {
  margin-top: 10px;
} */

ul.main > li:hover ul.sub li {
  display: block;
}

ul.sub li:hover {
  /* border: 1px solid #e67700; */
  background-color: #e67700;

  transition: 0.2s;
}
ul.sub li:active {
  background-color: #ffb15e;
  transition: 0.3s ease;
}

/* nav */

/* header__sns */

.header__sns li img {
  width: 32px;
  height: 32px;
}

ul.header__sns {
  display: flex;
  position: relative;
  top: 20px;
}

ul.header__sns li:nth-child(1) {
  margin-right: 10px;
}
/* header__sns */

.header__toggleBtn {
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 28px;
}
.fas {
  color: rgba(255, 255, 255, 0.9);
  display: none;
}
.fas:hover {
  color: #e67700;
  transition: 0.2s ease-in-out;
}
.fas:active {
  color: #ffb15e;
}

/* header */

/* Media  */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 5px 15px;
  }

  ul.main {
    flex-direction: column;
    justify-content: center;
    /* width: 90%; */
  }

  nav {
    width: 100%;
    justify-content: center;
    top: 10px;
    display: none;
  }

  ul.header__sns {
    width: 100%;
    justify-content: center;
    padding-bottom: 15px;
    display: none;
  }

  nav li {
    width: 100%;
  }

  .main,
  .sub {
    width: 100%;
  }

  /* ul.main > li {
    width: 100%;
  } */

  ul.header__sns {
    padding-bottom: 35px;
  }

  div.header__back:hover {
    padding-bottom: 0px;
  }

  .header__logo {
    width: 100%;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
  }
  .header__logo img {
    width: 65px;
  }
  .fas {
    display: block;
  }

  /* ul.sub li {
    width: 90%;
  } */
}
